:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DestructedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(215, 36%, 87%);
  --LightGrayishBlue: hsl(210, 46%, 95%);

  --fs-default: 13px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-default);
  background-color: var(--GrayishBlue);
  color: var(--VeryDarkGrayishBlue);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 35rem;
  padding-inline: 2rem;
}

.card {
  margin-block: 3rem;
  background-color: var(--LightGrayishBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0.1rem 0.1rem 1.2rem -0.3rem var(--DestructedDarkBlue);
}

.card__img img {
  border-radius: 1rem 1rem 0 0;
  aspect-ratio: 1;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2rem;
}

.card__content h1 {
  color: var(--VeryDarkGrayishBlue);
  text-rendering: geometricPrecision;
  text-transform: capitalize;
  font-weight: 700;
  font-size: clamp(1rem, 3vw + 1rem, 1.5rem);
}

.card__content p {
  color: var(--DestructedDarkBlue);
  line-height: 1.5;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.user__profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user__profile a {
  text-decoration: none;
  color: var(--VeryDarkGrayishBlue);
  font-size: 1rem;
  font-weight: 700;
}
.user__avatar {
  width: 3.5rem;
  border-radius: 100%;
}

.user__social {
  z-index: 1;
  transition: visibility 300ms ease-in-out;
}

.share__btn {
  background-color: var(--GrayishBlue);
  padding: 1.2rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  z-index: 12;
}
.user__links {
  background-color: var(--VeryDarkGrayishBlue);
  color: var(--LightGrayishBlue);
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: -1;
  gap: 1.3rem;
  opacity: 0;
  transition: transform 350ms ease-in-out, visibility 400ms ease-in-out,
    width 400ms ease-in-out, opacity 250ms ease-in;
  transform: scale(0);
  visibility: hidden;
}

.user__links p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-inline-end: 1em;
}

.share__btn:hover {
  opacity: 0.6;
}

.user__links[data-show="true"] {
  transform: scale(1);
  visibility: visible;
  width: 100%;
  opacity: 1;
}
@media (min-width: 45rem) {
  .wrapper {
    max-width: 54rem;
  }
  .card {
    flex-direction: row;
  }
  .card__img {
    max-width: 41%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__img img {
    border-radius: 1rem 0 0 1rem;
  }

  .card__content {
    width: 65%;
    gap: 1.2em;
  }
  .card__content h1 {
    line-height: 1.3;
  }
  .user__links {
    bottom: 7rem;
    left: 50%;
    width: 0%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    z-index: -1;
    justify-content: space-between;
    transform: translateX(-50%);
  }

  .user__links::after {
    content: "";
    position: absolute;
    height: 1.3rem;
    width: 1.2rem;
    background-color: var(--VeryDarkGrayishBlue);
    bottom: 0;
    left: 56%;
    transform: translateY(50%);
    clip-path: polygon(1% 1%, 50% 99%, 100% 0);
    border-radius: 1rem;
  }
  .user__links[data-show="true"] {
    width: 75%;
  }
}

.attribution {
  text-align: center;
  color: var(--DestructedDarkBlue);
  display: flex;
  justify-content: center;
  gap: 0.5em;
  justify-content: center;
  font-size: var(--fs-default);
}

.attribution > a {
  text-decoration: none;
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
